In [1]:
import requests
import pandas as pd
import sqlite3

In [2]:
conn = sqlite3.connect('tripdata.db')

In [3]:
query_avg_distance_per_hour = """
SELECT
    pickup_hour,
    AVG(trip_distance) AS average_distance
FROM (
    SELECT
        strftime('%H', tpep_pickup_datetime) AS pickup_hour,
        trip_distance
    FROM yellow_tripdata
    UNION ALL
    SELECT
        strftime('%H', lpep_pickup_datetime) AS pickup_hour,
        trip_distance
    FROM green_tripdata
) AS combined_data
GROUP BY
    pickup_hour
ORDER BY
    pickup_hour;
"""

# Execute the query and fetch results
df_avg_distance_per_hour = pd.read_sql(query_avg_distance_per_hour, conn)
print("Average Distance Driven by Yellow and Green Taxis Per Hour")
print(df_avg_distance_per_hour)

Average Distance Driven by Yellow and Green Taxis Per Hour
   pickup_hour  average_distance
0           00          0.400000
1           01          1.300000
2           07          0.100000
3           09          2.200000
4           11          3.100000
5           13         18.300000
6           14         10.600000
7           15          1.000000
8           16          0.000000
9           17          1.050000
10          19          8.633333
11          20          1.200000
12          21          1.750000
13          23          1.050000

In [4]:
query_lowest_single_rider_trips = """
SELECT
    pickup_day_of_week,
    COUNT(*) AS single_rider_trips
FROM (
    SELECT
        strftime('%w', tpep_pickup_datetime) AS pickup_day_of_week,
        passenger_count
    FROM yellow_tripdata
    WHERE passenger_count = 1 AND strftime('%Y', tpep_pickup_datetime) IN ('2019', '2020')
    UNION ALL
    SELECT
        strftime('%w', lpep_pickup_datetime) AS pickup_day_of_week,
        passenger_count
    FROM green_tripdata
    WHERE passenger_count = 1 AND strftime('%Y', lpep_pickup_datetime) IN ('2019', '2020')
) AS combined_data
GROUP BY
    pickup_day_of_week
ORDER BY
    single_rider_trips
LIMIT 1;
"""

# Execute the query and fetch results
df_lowest_single_rider_trips = pd.read_sql(query_lowest_single_rider_trips, conn)
print("Day of the Week in 2019 and 2020 with the Lowest Number of Single Rider Trips")
print(df_lowest_single_rider_trips)

Day of the Week in 2019 and 2020 with the Lowest Number of Single Rider Trips
  pickup_day_of_week  single_rider_trips
0                  2                   1

In [5]:
query_top_3_busiest_hours = """
SELECT
    pickup_hour,
    COUNT(*) AS number_of_trips
FROM (
    SELECT
        strftime('%H', tpep_pickup_datetime) AS pickup_hour
    FROM yellow_tripdata
    UNION ALL
    SELECT
        strftime('%H', lpep_pickup_datetime) AS pickup_hour
    FROM green_tripdata
) AS combined_data
GROUP BY
    pickup_hour
ORDER BY
    number_of_trips DESC
LIMIT 3;
"""
df_top_3_busiest_hours = pd.read_sql(query_top_3_busiest_hours, conn)
print("Top 3 Busiest Hours")
print(df_top_3_busiest_hours)

Top 3 Busiest Hours
  pickup_hour  number_of_trips
0          19                3
1          23                2
2          21                2